*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
a{
    text-decoration: none;
    color: black;
}
body{
    background: linear-gradient(-45deg, #003333 10%, #000033);
    color: #cc9966;
    font-family: 'Poppins';
}
.content{
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: flex-end;
}
.header .logo{
    display: flex;
    align-items: center;
}
.header .logo img{
    height: 3em;
}
.header .logo span{
    padding-left: 0.3em;
    font-size: 3em;
    white-space: pre;
}
.nav a{
    border: 2px solid transparent;
    border-radius: 3px;
    padding: 1px 7px;
}
.nav a:hover{
    border-color: black;
    background-color: rgb(235, 235, 235);
}
.nav a:not(:last-child){
    margin-right: 10px;
}
.header .cart{
    position: relative;
}
.header .cart a{
    width: 100%;
    height: 100%;
    position: absolute;
}
.header .cart img{
    width: 2em;
}
.header .cart .count{
    position: absolute;
    background-color: black;
    color: white;
    padding: 4px;
    border-radius: 50%;
    font-size: 12px;
    top: -0.5em;
    left: 2.6em;
}
.header .cart .cost{
    display: inline-block;
}
.products{
    display: flex;
    flex-wrap: wrap;
}
.product{
    width: calc(33.33% - 40px);
    margin: 20px;
}
.product img{
    width: 100%;
    object-fit: contain;
    height: 350px;
}
.delete{
    color: red;
}