RewriteEngine On
RewriteBase /

#Обрезает index.php
RewriteRule ^(.*)/?index\.php$ $1 [R=302,L]

#Добавление конечного слеша
RewriteCond %{REQUEST_URI} /+[^\.]+$
RewriteRule ^/(.+[^/])$ /$1/ [R=301,L]

#ЧПУ каталога
RewriteCond %{REQUEST_URI} ^/catalog.+_\d$
RewriteRule ^(catalog/).*_(\d+)$ $1?prodId=$2 [L]

# доступ только к index.php
#RewriteCond %{REQUEST_URI} !^/(index.php)?$
#RewriteCond %{REQUEST_URI} !^(/cart/(index.php)?)$
#RewriteCond %{REQUEST_URI} !^(/cart/(cartChange.php)?)$
#RewriteCond %{REQUEST_URI} !^(/catalog/(index.php)?)$
#RewriteCond %{REQUEST_URI} !^/catalog/\?prodId=\d+$
#RewriteCond %{REQUEST_URI} !^(/img)|^(/image)|^(/css)
#RewriteRule ^ 404.php
