RewriteEngine On
RewriteBase /

#Обрезает index.php
RewriteRule ^(.*)/?index\.php$ $1 [R=302,L]

#Добавление конечного слеша
RewriteCond %{REQUEST_URI} /+[^\.]+$
RewriteRule ^/(.+[^/])$ /$1/ [R=301,L]

# доступ только к index.php
RewriteCond %{REQUEST_URI} !^/(index.php)?$
RewriteCond %{REQUEST_URI} !^(/img)|^(/css)|^(/cart/(index.php)?)$
RewriteRule ^ 404.php
